@media screen and (min-width: 640px){

    main{
        display: grid;
    }

    .cardScenarios{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap:1rem;
        margin: 10px 10px;
    }

    .cardScenarios h2{                
        text-align: center;
        background-color: #274C77;
        color: white;
        padding: 10px; 
    }

     .scenario1{
        
        grid-column: 1/2;
        background-color: #E7ECEF;        
        text-align: justify;    
    }

    .scenario2{
        grid-column: 2/3;
        background-color: #E7ECEF;        
        text-align: justify;
        margin-top: 0px;
    }     
}