body{
    display: grid;   
    justify-content: center;    
    font-family: 'Bree Serif', serif;}

header{        
    background-color: #3377AA;           
    display: grid;
    grid-template-columns: 150px auto;
    border-radius: 20px;
    height: 150px;
    color: white;
    align-content: center;                
}

img{
    margin-left: 20px;    
    border-radius: 3px;
}

header h1{    
    align-self: center;
}

.line{
    border-top: 1px solid grey;
    height: 2px;    
    /* max-width: 600px; */
}

ul li{
    padding: 5px;
}

footer{    
    padding: 50px;
    display:grid;
    justify-content: center;
    align-content: center;
    text-align: center;    
    background-color: #3377AA;               
    border-radius: 20px;
    height: 20px;
    color: white;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;           
    margin-top: 30px;
}

#updated{
    color: yellow;
}

